<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- links and stylesheet would be here -->
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="url">Paste youtube link here:</label>
        <input type="text" id="url" name="url"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>